* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

/* diseño mobile */
body{
    width: 100%;
    min-height: 100vh;
    background-color: #65818C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    border: 1px  solid #F0F0F2;
    background-color: #261919;
    min-width: 60%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.visor{
    width: 100%;
    border-bottom: 1px solid #F0F0F2;
    color: #F0F0F2;
}

.expresion, .resultado {
    /* border: 1px solid blue; */
    width: 100%;
    padding: 1rem;
    text-align: end;
}

.botonera {
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap:0.5rem;

}

.boton {
    border-radius: 50%;
    /* border: 1px solid #F0F0F2; */
    border: none;
    padding: 1rem;
    margin: 0.5rem;
    color: #F0F0F2;
    background-color: #8AB0BF;
    font-weight: 700;
}

.boton:hover{
    opacity: 0.8;
}

/* historial/cientifica-comun */
.botonModos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #F0F0F2;
}

.modos {
    width: 50%;
    padding: 0.5rem;
    margin: 1rem;
}

.boton-operaciones {
    background-color: #BF8F54;
}

.boton-receteo {
    background-color: #734F2F;
}

@media only screen and (min-width: 550px) {
    .calculadora {
        max-width: 25%;
    }
}